<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
  <div class="container login-container ">
    <div class="row  justify-content-center ">
      <div class="card col-md-8 login-form-1 groupShadow">
        <article class="card-body" style="max-width: 800px;">
        <h4 class="card-title mt-3 text-center">Crear cuenta</h4>
        <p class="text-center">Ingrese los datos del trabajador</p>
        <p class="divider-text">
          <span class=""></span>
        </p>

        <!-- form start-->
        <form id="formRegister" class="needs-validation" novalidate>

        <!-- Input nombre-->
        <div id='div_nombre' class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                </svg></span>
            </div>

            <input type="text" id="nombre" class="form-control" placeholder="Nombre completo" type="text" required>
            <div id="lbNombre_invalid" class="invalid-feedback">
                Colorcar el nombre
            </div>
        </div> <!-- end input -->

        <!-- Input empleo-->
        <div id='div_empleo' class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
          </div>

          <select type="text" id="empleo" class="form-control">
            <option selected="" aria-placeholder="Tipo de trabajo">Tractorista</option>
            <option>Designer</option>
            <option>Manager</option>
            <option>Accaunting</option>
          </select>
          <div id="lbEmpleo_invalid" class="invalid-feedback">
            Agregar empleo
          </div>
        </div> <!-- end input -->

        <!-- Input usuario-->
        <div id='div_usuario' class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
            <input type="text" id="usuario" class="form-control" placeholder="Nombre de usuario" type="text" required>
            <div id="lbUsuario_invalid" class="invalid-feedback">
              Agregar usuario
            </div>
        </div> <!-- end input -->
        
        <!-- Input password-->
        <div id='div_password' class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input type="password" id="password" class="form-control" placeholder="Crear contrase単a" type="password" required>
          <div id="lbPassword_invalid" class="invalid-feedback">
            Agregar contrase単a
          </div>
        </div> <!-- end input -->

        <!-- Input password2-->
        <div id='div_password2' class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input type="password" id="password2" class="form-control" placeholder="Repetir contrase単a" type="password" required>
          <div id="lbPassword2_invalid" class="invalid-feedback">
            Agregar contrase単a
          </div>
        </div> <!-- form-group// -->     

        <!-- bt submit-->
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Crear cuenta  </button>
        </div> <!-- form-group// -->                                                                        
      </form>
      </article>
      </div> <!-- card.// -->
    </div> 
    <!--container end.//-->
    </div>
  </div>
  <script src="/js/register.js"></script>
</body>
