.divider-text {
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 50%;
    left: 0;
    z-index: 1;
}

#date-picker-input-1{
    max-width: 300px;
    min-width: 150px;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    min-width: 260px;
}

.groupShadow{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }

#div_cantidad{
    padding-right: 2px;
}
#div_concepto{
    padding-left: 2px;
}
.bg-inputspan{
    background-color: #e9ecef;
}
.bg-trash{
    color :#ab352c;
}
.bt-edit:hover{
    opacity: 0.8;
    
}
.bt-delete:hover{
    opacity: 0.8;
}
